@import "tailwindcss";

html,
body {
    color: #e0def4;
    background-color: #191724;
}

:root {
    --dawn: #e0def4;
    --moon: #191724;
    --foam: #9ccfd8;
    --pine: #31748f;
    --iris: #c4a7e7;
    --teal: #94e2d5;
    --surface: #1f1d2e;
    font-family: "JetBrains Mono", monospace;
}

@theme {
    --font-mono: "JetBrains Mono";
    --font-outfit: Outfit;
    --font-vt323: "VT323";
    --shadow-color: 250 244 237;
    --shadow-transparensy: 0.5;
    --shadow-blur: 16px;
}

.hack-shadow {
    text-shadow: 0 0 var(--shadow-blur) rgb(var(--shadow-color) / var(--shadow-transparensy));
    filter: drop-shadow(0 0 var(--shadow-blur) rgb(var(--shadow-color) / var(--shadow-transparensy)));
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-6px) rotate(0.5deg);
    }
}

.island-float {
    animation: float 6s ease-in-out infinite;
}

@media (max-width: 640px) {
    .island-float {
        gap: 0.5rem;
    }
}
